{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
<!-- article_edit.html -->
<form id="article-form">
    {%csrf_token%}
    <input type="text" id="title-input" placeholder="Title" required>
    <div id="sections-container"></div>
    <div id="options">
      <button id="add-section-button">Add</button><button>Delete</button></div>
    <button type="submit" style="display: block;">Save Article</button>
  </form>
  
  
  <script src="{%static 'post_edit.js'%}"></script>
  <script src="{%static 'auto_save_post.js'%}"></script>
  <script src="{%static 'section_choices.js'%}"></script>
</body>
</html>